@model ModelsLayer.Register

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="register-form-background">
    <h2>Sign up</h2>
    <div class="register-form-container">
        @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @class = "form register-form" }))
        {
            <div class="form-group">
                <div class="error-message-name">@ViewBag.ErrorMessage</div> 
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @placeholder = "username", @Value = @ViewBag.CurrentName})
                <p class="error-message1">Error! Field shouldn't be empty! </p>

            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password" })
                <p class="error-message2">Error! Field shouldn't be empty! </p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="confirm-password" placeholder="confirm password">
                <p class="error-message3">Error! Passwords aren't match! </p>
            </div>
            <button type="submit" class="btn btn-success register-button">Register</button>
        }
    </div>
    <div class="return-to-index">
        @Html.ActionLink("Already registered? Login now.", "Index", "Login")
    </div>
</div>

